:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.calc-macros {
  max-width: 25rem;
  text-align: center;
}

.header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2f65ac;
}

.header {
  color: #ecebeb;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 1rem 0rem 1rem 0.5rem;
}

.main-area {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.ingredients-macros {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredients {
  max-width: 25rem;
}

section > a > button {
  margin: 1rem;
}

.form-button {
  margin: 1rem 0rem 0rem 0rem;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.recipe-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.75rem;
}

.recipe-specific-image {
  max-height: 10rem;
}

.recipe-specific > p {
  display: flex;
  flex-wrap: wrap;
}

.recipe-specific > a {
  display: flex;
  flex-wrap: wrap;
  max-width: 20rem;
  justify-content: center;
}

.recipe-title {
  min-width: 10rem;
}

.navbar-items {
  display: flex;
}

.navbar-items > p {
  margin: 0.5rem;
  color: #ecebeb;
}

.navbar-items :hover {
  background-color: #0f3669;
}
