:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.calc-macros {
  max-width: 25rem;
  text-align: center;
}

.header-section {
  background-color: #126312;
}

.header {
  color: #c7bcbc;
  height: 6rem;
  align-items: center;
  justify-content: center;
  display: flex;
}

.main-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ingredients-macros {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredients {
  max-width: 25rem;
}

section > a > button {
  margin: 1rem;
}

.form-button {
  margin: 1rem 0rem 0rem 0rem;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-specific {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.75rem;
}
